@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.eot");
  src: url("../fonts/Roboto-Regular.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Regular.woff2") format("woff2"),
    url("../fonts/Roboto-Regular.woff") format("woff"),
    url("../fonts/Roboto-Regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.eot");
  src: url("../fonts/Roboto-Bold.eot?#iefix") format("embedded-opentype"),
    url("../fonts/Roboto-Bold.woff2") format("woff2"),
    url("../fonts/Roboto-Bold.woff") format("woff"),
    url("../fonts/Roboto-Bold.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}
body {
  margin: 0;
  padding: 0;
}
label {
  user-select: none;
}
label:before,
label:after {
  transition: all 0.2s ease;
}
.clear:after {
  content: "";
  display: block;
  clear: both;
}
h1 {
  font: 700 30px "Roboto";
  color: #1f222c;
  text-align: center;
}
[type="text"],
[type="email"],
[type="tel"],
textarea {
  font: 400 14px "Roboto";
  color: #1f222c;
}
.wrapper {
  width: 83%;
  margin: 0 auto;
}
.container {
  border-bottom: 1px solid #dcdcde;
}
.location {
  position: relative;
}
.location:before {
  content: "";
  position: absolute;
  width: 9px;
  height: 6px;
  top: 5px;
  right: 14px;
  z-index: 2;
  background-image: url(../images/sprite.png);
}
.simple {
  display: inline-block;
  max-width: 330px;
}
.fixed {
  position: fixed;
  width: 310px;
  right: 8.6%;
  top: 17%;
  z-index: 4;
  font: 400 14px "Roboto";
}
.fixed-form {
  padding: 25px 0 20px;
  background-color: #fafafa;
  border: 1px solid #e6e6e6;
  border-radius: 5px;
  box-shadow: 0 5px 6px rgba(0, 0, 0, 0.15);
}
.fixed-wrapper {
  width: 84%;
  margin: 0 auto;
}
.open + label:before {
  content: "";
  position: absolute;
  cursor: pointer;
  width: 10px;
  height: 10px;
  right: 10px;
  top: 83px;
  background-image: url(../images/sprite.png);
  background-position: 0 -34px;
}
.open:checked + label:before {
  display: none;
}
.open:checked + label:after {
  content: "Увійти в аккаунт";
  display: block;
  position: fixed;
  cursor: pointer;
  padding: 20px;
  right: 8.6%;
  top: 30%;
  border-radius: 8px;
  background-color: #12d661;
  color: #fff;
  font-weight: 700;
  letter-spacing: 1px;
}
.open:checked ~ .disappear {
  display: none;
}
.fixed p {
  margin: 0;
  padding-bottom: 8px;
  color: #b3b3b3;
}
.fixed p label {
  color: #1f222c;
}
.fixed-text {
  width: 100%;
  margin-bottom: 12px;
  padding: 11px 10px;
  border: 1px solid #cccccc;
  border-radius: 3px;
  color: #1f222c;
}
.fixed a {
  display: inline-block;
  padding-bottom: 15px;
  font: 400 13px "Roboto";
  color: #3e6aff;
}
.fixed a:hover {
  text-decoration: none;
}
.fixed .remember-row {
  padding-bottom: 15px;
}
.fixed-reg {
  font: 700 14px "Roboto";
}
input,
textarea {
  box-sizing: border-box;
  outline: none;
}
textarea {
  resize: vertical;
  max-height: 300px;
}
h2 {
  font: 700 20px "Roboto";
  color: #b3b3b3;
  text-transform: uppercase;
}
.form-title {
  margin: 0;
  padding-bottom: 20px;
}
.table-form h2 {
  padding-bottom: 35px;
}
.sign-up,
.reg {
  width: 100%;
}
.simple .sign-up {
  margin-bottom: 10px;
}
.simple select,
.table-form select,
.style-table select {
  -webkit-appearance: none;
  padding: 12px 17px;
  font: 400 14px "Roboto";
  background-color: #fff;
  outline: none;
}
.sign-up {
  padding: 12px 15px;
  min-height: 44px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.sign-up:focus,
.table-form input:focus,
.fixed-text:focus {
  box-shadow: 0 0 5px rgba(62, 106, 255, 0.55);
  border: 1px solid #3e6aff;
}
::-webkit-input-placeholder {
  font: 400 14px "Roboto";
  color: #b3b3b3;
}
.reg {
  padding: 13px 0;
  cursor: pointer;
  font: 700 14px "Roboto";
  color: #fff;
  background-color: #12d661;
  border-radius: 3px;
  border: none;
  transition: all 0.2s ease;
}
.reg:hover,
.open + label:hover:after,
.checkout:hover {
  background-color: #07be51;
  box-shadow: 0 2px 3px rgba(8, 118, 52, 0.35);
  cursor: pointer;
}
.second,
.first,
.table-form {
  padding: 50px 0;
}
.third {
  padding: 50px 0 70px;
}
.style-table {
  padding: 45px 0 150px;
}
.radio,
.checkbox {
  display: inline-block;
}
.second input:disabled + label {
  color: #b3b3b3;
  cursor: unset;
}
.second input:disabled + label:before {
  background-color: #f7f7f7;
}
.radio {
  width: 17%;
}
.filter {
  width: 39.8%;
  float: right;
  box-sizing: border-box;
  vertical-align: top;
  padding: 25px 20px 20px;
  background-color: #f7f7f7;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}
.second p,
.third p,
.table-form {
  margin: 0;
  font: 400 14px "Roboto";
  color: #1f222c;
}
.radio p {
  margin: 0 0 20px 10px;
}
.checkbox p {
  margin: 0 0 20px 15px;
}
input {
  margin: 0;
}
[type="radio"],
[type="checkbox"] {
  visibility: hidden;
}
.radio label,
.checkbox label,
.filter label,
.table-form label,
.status {
  position: relative;
}
.date-container {
  position: relative;
  display: inline-block;
}
.date {
  padding: 10px 16px;
  font: 400 14px "Roboto";
  border: 1px solid #ccc;
  border-radius: 3px;
}
.date-label {
  margin: 0;
}
.date-label:before {
  content: "";
  position: absolute;
  width: 20px;
  height: 18px;
  top: 0;
  right: 16px;
  background-image: url(../images/sprite.png);
  background-position: 0 -14px;
}
.crutch {
  position: absolute;
  width: 100%;
  height: 42px;
  right: 0;
  top: 0;
  transition: all 1s ease;
  cursor: pointer;
}
.crutch:hover {
  visibility: hidden;
}
.radio label:hover,
.checkbox label:hover {
  cursor: pointer;
}
.radio label:before,
.gender__woman:before,
.gender__man:before {
  content: "";
  position: absolute;
  width: 15px;
  height: 15px;
  left: -25px;
  border-radius: 50%;
  border: 1px solid #ccc;
}
.radio input:checked + label:before,
.table-form input:checked + label:before,
.remember:checked + label:before,
.agree:checked+label:before {
  border-color: #3e6aff;
}
.radio input:checked + label:after,
.table-form input:checked + label:after {
  content: "";
  position: absolute;
  width: 7px;
  height: 7px;
  left: -20px;
  top: 5px;
  border-radius: 50%;
  background-color: #3e6aff;
}
.checkbox label:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -26px;
  border-radius: 3px;
  border: 1px solid #ccc;
}
.checkbox input:checked + label:before {
  border: 1px solid #3e6aff;
}
.checkbox input:checked + label:after,
.remember:checked + label:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  left: -21px;
  top: 5px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
}
.remember:checked + label:after {
  top: 3px;
}
.filter p {
  display: inline-block;
}
.filter .title {
  padding-right: 20px;
  color: #b3b3b3;
}
.filter .title--last {
  padding-right: 32px;
}
.status {
  margin: 0 14px;
  cursor: pointer;
}
.filter p:first-child {
  margin-bottom: 30px;
}
.status:before {
  content: "";
  position: absolute;
  width: 16px;
  height: 16px;
  left: -26px;
  top: -2px;
  border-radius: 3px;
  background-color: #fff;
  border: 1px solid #ccc;
}
.filter input:checked + label:before {
  border-color: #3e6aff;
}
.filter input:checked + label::after,
.agree:checked+label:after {
  content: "";
  position: absolute;
  width: 6px;
  height: 3px;
  left: -21px;
  top: 3px;
  transform: rotate(-45deg);
  border-bottom: 2px solid #244dd7;
  border-left: 2px solid #244dd7;
}
.filter .sellout {
  margin-right: 0;
}
.third__gender {
  width: 42.7%;
  float: left;
  position: relative;
}
.third input {
  display: none;
}
.male-label:before,
.female-label:before {
  content: "";
  position: absolute;
  width: 72px;
  height: 72px;
  left: 0;
  background-image: url(../images/sprite.png);
  transition: none;
}
.male-label:before {
  top: 5px;
  background-position: -24px 0;
}
.female-label:before {
  top: 85px;
  background-position: -98px 0;
}
.male:checked + label:before {
  background-position: -24px 77px;
}
.female:checked + label:before {
  background-position: -98px 75px;
}
.third label:hover {
  cursor: pointer;
}
.third__gender p {
  margin: 0;
  padding: 35px 0 0 85px;
  font: 700 16px "Roboto";
}
.third__gender label {
  transition: all 0.2s ease;
}
.third__gender input:checked + label {
  color: #244dd7;
}
.third__gender p:first-child {
  margin-bottom: 28px;
}
.another {
  display: inline-block;
  padding-top: 30px;
}
.another p {
  margin-bottom: 30px;
}
.another p:last-child {
  margin-bottom: 0;
}
.another label {
  position: relative;
}
.another label:before {
  content: "";
  position: absolute;
  width: 45px;
  height: 25px;
  top: -4px;
  left: -65px;
  border-radius: 12px;
  background-color: #cfcfd1;
}
.another label:after {
  content: "";
  position: absolute;
  width: 21px;
  height: 21px;
  left: -63px;
  top: -2px;
  border-radius: 50%;
  background-color: #fff;
}
.another input:checked + label:before {
  background-color: #3e6aff;
}
.another input:checked + label:after {
  left: -43px;
}
h3 {
  margin: 0;
  padding-bottom: 25px;
  font: 700 18px "Roboto";
  color: #1f222c;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
th {
  font-weight: normal;
}
.table-form table {
  width: 41.8%;
}
.table-form th:first-child {
  text-align: left;
}
.w100,
.table-form select {
  width: 100%;
  box-sizing: border-box;
}
td:last-child,
th:last-child {
  width: 340px;
}
.table-form td p {
  float: left;
  margin: 0;
  width: 100px;
}
.table-form td,
.table-form th {
  padding-bottom: 14px;
}
.table-form tr:last-child td {
  padding-bottom: 0;
}
.gender {
  padding: 0 15px;
}
.file {
  position: absolute;
  max-width: 170px;
  visibility: hidden;
}
.photo {
  padding: 12px 38px;
  display: inline-block;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  background-color: #3e6aff;
}
.photo:hover {
  background-color: #2857f4;
  box-shadow: 0 2px 3px rgba(15, 40, 126, 0.35);
  cursor: pointer;
}
.table-form textarea {
  width: 100%;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 3px;
}
.comment-row td {
  vertical-align: top;
}
.comment-row td:first-child {
  padding-top: 15px;
}
.style-table {
  width: 680px;
}
.style-table h2 {
  padding-bottom: 35px;
}
.style-table h3 {
  padding-bottom: 40px;
}
.table {
  display: table;
  width: 100%;
}
.first-table {
  padding-bottom: 30px;
  border-bottom: 1px solid #e9e9e9;
}
.second-table {
  padding: 50px 0 35px;
}
.second-table .table-cell:nth-child(2) {
  width: 66%;
}
.second-table i .adress {
  width: 98.5%;
}
.table-row {
  display: table-row;
}
.table-cell {
  display: table-cell;
  position: relative;
  width: 33%;
}
.table-cell span {
  position: absolute;
  margin: 0;
  top: -20px;
  font: 400 13px "Roboto";
  color: #b3b3b3;
}
.style-table .sign-up {
  width: 220px;
}
.style-table .location:after {
  content: '';
  position: absolute;
  width: 1px;
  height: 19px;
  background-color: #ccc;
  right: 33px;
  top: -2px;
}
.style-table label {
  margin: 0;
}
.agree-row {
  padding: 15px 14px 25px;
  border-bottom: 1px solid #e9e9e9;
  font: 400 14px "Roboto";
  color: #1f222c;
}
.btns {
  padding-top: 30px;
}
.back {
  float: left;
  padding: 13px 25px;
  font: 700 14px "Roboto";
  color: #6e6f77;
  text-decoration: none;
  border-radius: 3px;
  border: 1px solid #85868d;
  transition: all 0.2s ease;
}
.back:hover {
  color: #fff;
  background-color: #85868d;
}
.checkout {
  float: right;
  padding: 13px 28px;
  font: 700 14px "Roboto";
  color: #fff;
  background-color: #12d661;
  border-radius: 3px;
  transition: all 0.2s ease;
}
